<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/styles.css" type="text/css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap" rel="stylesheet">
  <title>Library Show Page</title>
</head>
<body>
  <header>
    <div class="header">
      <img src="/public/alamedalogo.png" width="65" height="65">
    </div>
  </header>
  <main>
    <h1><%=library.name%> Library</h1>
    <h2><%=library.address%></h2>
    <a href="/library/<%=library._id%>/edit">Edit Library</a>
    <br/>
    <% for (let i = 0; i < library.books.length; i++) { %>
      <div class="books">
        <div class="bookinfo">
          <%=library.books[i].title%><br/>
          by <%=library.books[i].author%><br>
          Genre: <%=library.books[i].genre%>
        </div>  
        <div class="checkout">
          <form action="/library/<%=library._id%>/book/<%=library.books[i]._id%>?_method=DELETE" method="post">
            <input type="submit" value="Checkout"/>
          </form>
        </div>  
      </div>
    <% } %> 
    <br/>
    <a href="/library/<%=library._id%>/book/new">Click here to add a new book to the <%=library.name%> library.</a> 
    <br/>
    <a href="/">Home</a>
  </main>
</body>
</html>